body{ 
    background-image:url(./imagenes/background6.jpg); 
    background-attachment: fixed;
    margin:0;
    padding:0;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
}
 
.boxLogin{
    display: flex;
    flex-direction: column;
    padding: 0em 1em 0em 4em;}
 
.login{
    flex-direction:column;
    align-items: flex-start;
    display: flex;}
 
.logoWiki{ 
    width: 430px;  
    padding:6.5em 0em 1.5em 0em;}
 
h1{ 
    text-shadow: 0 0 2px #CEAA5B;
    color:#CEAA5B;
    font-size:1.7em;
    font-weight: lighter;
    font-family:Sahitya;
    margin-left: 1em;
    margin-bottom: 0em;} 
 
.lol{
    text-shadow: 0 0 2px #CEAA5B;
    color:#CEAA5B;
    font-size:2.5em;
    font-family: 'Vollkorn SC', serif;
    margin-left: 0.7em;
    margin-top: 0em; }
    
.coverPage{
    position: absolute;
    margin-left:23em;
    margin-top:2em;
    width: 800px}
 
.enter{
    display: flex;
    flex-direction: column;}
 
#inputName{
    width:8.5em; 
    height:2.5em;
    border:none;
    border-radius:0.2em;
    background:#171E26;
    color:#CEAA5B;
    font-size:25px;
    font-family:Sahitya;
    padding: 0em 1em 0em 1em;
    box-shadow:0 3px;
    cursor: pointer;
    user-select: none;
    margin-left: 1em;
    -webkit-appearance: none}
#text{
    border:none;
    color:#CEAA5B;
    font-size:15px;
    font-family:Sahitya;
    padding: 0.5em 0em 0em 0em;
    margin-left: 2em;}    
    
#buttonEnter{
    background:#CEAA5B;
    font-family:Sahitya;
    color:#171E26;
    border-radius:0.5em;    
    font-weight: bold;
    width:10em;
    height:4em;
    border:none;
    cursor: pointer;
    cursor: hand;
    margin-left: 2em;
    margin-top: 0.5em;}
 
.header{   
    background-color: rgba(8, 8, 8, 0.5);
    filter: alpha;
    display:flex;
    align-items: center;    
    justify-content:space-between;
    height: 4.5em;
    width: 100%;
    margin: 0%;
    padding:0.7em 0em 0.5em 0em;}
    
nav{
    position: fixed;
    display:flex;
    justify-content:space-around;
    margin-top:0.2em;
    border-radius:0.5em;
    margin: 0%;
    padding:0.5em 0em 0em 17em;}
 
#buttonOrder {
    width:10em;
    height:3.5em;
    border:none;
    background-color: rgba(8, 8, 8, 0.5);
    filter: alpha;
    color:#CEAA5B;
    font-size:16px;
    font-family:Sahitya;
    padding: 0em 2em 0em 2em;  
    box-shadow:0 3px;
    margin-left: 3em;
    margin-right:6.5em; 
    cursor: pointer;
    user-select: none;
    border-radius:0.2em;}
 
.buttonReg{
    width:10em;
    height:3.5em;
    border:none;
    background-color: rgba(8, 8, 8, 0.5);
    filter: alpha;
    color:#CEAA5B;
    font-size:16px;
    font-family:Sahitya;
    padding: 0em 2em 0em 2em;  
    box-shadow:0 3px;
    margin-right:6.5em; 
    border-radius:0.2em;
    cursor: pointer;
    user-select: none;}
 
.search {
    width:10em;
    height:3.5em;
    border:none;
    background-color: rgba(8, 8, 8, 0.5);
    filter: alpha;
    color:#CEAA5B;
    font-size:16px;
    font-family:Sahitya;
    padding: 0em 1em 0em 1em;  
    box-shadow:0 3px;
    margin-right:3em; 
    border-radius:0.2em;
    cursor: pointer;
    user-select: none;} 
    
aside{
    position: fixed;
    margin: 0%;}
 
.logo{
    margin: 1.3%;
    height: 60%;
    width: 40px;}
    
.one{
    text-shadow: 0 0 3px #fff;
    list-style: none;   
    color:rgb(216, 213, 223);
    font-size:1.2em;
    font-family: 'Vollkorn SC', serif;
    font-weight: lighter;    
    border:none;
    letter-spacing: 5pt;
    margin: 0%;
    padding: 0em 0em 0em 7em;
    align-self: flex-end;} 
       
.profile{
    height:100%;
    width:3.5em; 
    margin-right: 1em;
    border-radius:4em;} 
 
#invocadorName{    
    flex-direction: row;
    justify-content: space-between;
    color:#CEAA5B;    
    font-family: 'Vollkorn SC', serif;
    font-size: 1.1em;}
    
 
.boxProfile{
    color: rgb(110, 181, 236);
    list-style: none;
    font-family:Sahitya;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: baseline;
    padding:0em 0em 0em 0em;}
 
ul{
    list-style: none;
    padding:2em 1em 0em 0em;}
 
.buttonRol{
    width: 85%;    
    border: 0px;
    cursor: pointer; cursor: hand;
    padding: 0em 0em 0em 0.5em;
    margin: 0%;
    position: fixed left;} 
    
button{
    background: none;
    border:none}    
 
.roles{
    color:#CEAA5B;
    font-size:22px;
    font-family:Sahitya;
    font-weight: lighter;
    padding: 1em 1em 0.3em 1em; 
    box-shadow:  0 2px;
    margin-right: 0em;
    margin-bottom: 0em;
    margin-left: 0em;}
    
 
#panel{
    width: 100px;
    background-color: rgba(8, 8, 8, 0.5);
    filter: alpha;
    display: inline-block;
    position: fixed;
    padding: 0em 0em 0em 0em;
    margin: 0%;} 
    
 
#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin:auto;
    margin-left: 13%;
    margin-top: 7%;}
 
.splash{
    width: 300px;
    height: 350px;
    border-radius:0.3em;
    object-fit: cover; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    padding: 0em 0.2em 0em 0em;}   
 
.championsName{
    text-shadow: 0 0 2px #fff ;
    display: block;
    margin-block-start: -2.5em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    color:white;
    font-size:2em;
    font-family:Sahitya;
    align-self: center;
    padding: 1em 0em 1em 3.3em;}  
 
 
textarea, select, input, button { 
    outline: none;}
 
.hide{
    display: none;}
 
.modal {
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);}
      
.modalInfo {
    font-size: 15px;
    padding: 0em 1.5em 0em 1.5em;
    border-radius: 15;}
      
.modalContent {
    font-size: 25px;
    background: #020A11;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 410px;
    height: 560px;
    text-align: center;
    color: #CEAA5B;
    font-family: 'Vollkorn SC', serif;
    position: absolute;
    top: 2.1em;
    bottom: 4em;
    right: 3em;
    left: 18em;;
}
.close{
    font-size: 30px;
    padding: 0em 0em 0em 12em;
    position: absolute;; 
}  
.imgSplash{
    width: 165px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #EAB95B; ;
}
.modalName{
    display: flex;
    flex-direction: row;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    margin: 1%;
    padding: 0.5em 0em 0em 0em;
}
.modalTitle{
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Vollkorn SC', serif;
    font-size: 20px;
    color: #fff;
    margin: 1%;
}
.modalTags{
    font-family: 'Vollkorn SC', serif;
    font-size: 20px;
    color: #fff;
    margin: 1%;
}
 
.stats{
    display: flex;
    margin-left: 10%;
    margin-right: 2%;
 
}
    
/* CELULAR */
 
@media (max-width: 768px) {
 
    body{
        margin: 0%;
        padding: 0%;}
 
    .boxLogin{
        
        padding: 0em 2em 0em 2em;
        align-self: center;}
    .login{
        flex-direction:column;
        align-items: flex-start;
        display: flex;}
    
    .logoWiki{ 
        width: 300px;
        padding: 3em 0em 0em 0em;}
    
    .lol{
        text-shadow: 0 0 1.5px #fff;
        font-family: 'Vollkorn SC', serif;
        font-size: 29px;}
    
    
    h1{ 
        color:#CEAA5B;
        font-size:1.3em;
        font-weight: lighter;
        font-family:Sahitya;
        margin-left: 1em;}  
        
   
    
    .enter{
        display: flex;
        flex-direction: column;}
    #inputName{
        width:7.5em; 
        height:2.5em;
        border:none;
        border-radius:0.2em;
        background:#171E26;
        color:#CEAA5B;
        font-size:21px;
        font-family:Sahitya;
        padding: 0em 2em 0em 2em;
        box-shadow:0 3px;
        cursor: pointer;
        user-select: none;
        margin-left: 1em;
        -webkit-appearance: none}
    #text{
        border:none;
        color:#CEAA5B;
        font-size:15px;
        font-family:Sahitya;
        padding: 0.5em 0em 0em 0em;
        margin-left: 2em;} 
    
    #buttonEnter{
        
        background:#CEAA5B;
        font-family:Sahitya;
        color:#171E26;
        border-radius:0.5em;    
        font-weight: bold;
        width:8em;
        height:3em;
        border:none;
        cursor: pointer;
        cursor: hand;
        margin-left: 7em;
        margin-top: 0.5em;}
        
    .coverPage{
        display: none;
        visibility: hidden;}
    .header{   
        color: #fff;
        background-color: rgba(8, 8, 8, 0.5);
        filter: alpha;
        display:flex;
        align-items: center;
        justify-content:space-between;
        height: 58px;
        width: 100%;
        margin: 0%;}
 
    .logo{
        margin: 1.5%;
        padding: 0em 0em 0em 0.5em;
        height: 60%;
        width: 30px;}
 
    .boxProfile{
        color: rgb(110, 181, 236);
        list-style: none;
        font-family:Sahitya;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: baseline;
        padding:0.2em 0.2em 0.2em 0em;} 
 
    .profile{
        height:100%;
        width:1.6em; 
        border-radius:4em;
        padding: 0em 0.1em 0em 0em;} 
        
 
    .one{
        text-shadow: 0 0 3px #fff;
        color:aliceblue;
        list-style: none;   
        font-size:1em;
        font-family: 'Vollkorn SC', serif;
        border:none;
        padding: 0em 0em 0em 2em;
        margin-bottom: 0.5em;}
 
    ul{
        list-style: none;
        font-size:0.4em;
        padding: 0em 0em 0em 0em;
        align-items: flex-end;}
       
    #panel{
        width: 79px;
        background-color: rgba(8, 8, 8, 0.5);
        filter: alpha;
        display: inline-block;
        position: fixed;
        padding: 0em 0em 4em 0em;
        margin: 0%;} 
 
    .roles{
        color:#CEAA5B;
        font-size:14px;
        font-family:Sahitya;
        font-weight: lighter;
        padding: 1em 1.5em 1em 1.5em;
        margin-bottom: 0em;  
        margin-left: 0em;}
 
    
    .buttonRol{
        width: 50px;    
        border: 0px;
        cursor: pointer; 
        cursor: hand;
        padding: 0em 0em 0.2em 0.5em;
        margin: 0%;
        position: fixed left;} 
 
    #buttonOrder {
        width:6em;
        height:3em;
        border:none;
        color: #fff;
        background-color: rgba(8, 8, 8, 0.5);
        filter: alpha;
        color:#CEAA5B;
        font-size:14px;
        font-family:Sahitya;
        padding: 0em 0em 0em 1em;  
        box-shadow:0 3px;
        margin-left: 3em;
        margin-right:0.5em; 
        border-radius:0.2em;
        cursor: pointer; 
        cursor: hand;
        user-select: none;}
    
    #buttonReg {
        width:6em;
        height:3em;
        border:none;
        color: #fff;
        background-color: rgba(8, 8, 8, 0.5);
        filter: alpha;
        color:#CEAA5B;
        font-size:14px;
        font-family:Sahitya;
        padding: 0em 0em 0em 0em;  
        box-shadow:0 3px;
        margin-right:0.6em; 
        border-radius:0.2em;}
    
 
    .search {
        width:5.8em;
        height:3em;
        border:none;
        border-radius:0.2em;
        color: #fff;
        background-color: rgba(8, 8, 8, 0.5);
        filter: alpha;
        color:#CEAA5B;
        font-size:14px;
        font-family:Sahitya;
        padding: 0em 0em 0em 1.5em;
        box-shadow:0 3px;
        cursor: pointer;
        user-select: none;
        margin-left: 0.06em;
        cursor: pointer;
        -webkit-appearance: none}
        
    #container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1000px;
        margin:auto;
        margin-left: 5em;
        margin-top: 4.5em;}
    
 
    .splash{
        width: 135px;
        height: 157.5px;
        border-radius:0.3em;
        object-fit: cover; 
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
        padding: 0em 0.2em 0em 0em;}   
    
    .championsName{
        display: block;
        margin-block-start: -2.5em;
        margin-block-end: 0em;
        margin-inline-start: 0em;
        margin-inline-end: 0em;
        color:white;
        font-size:1.1em;
        font-family:Sahitya;
        font-weight: bold;
        align-self: center;
        padding: 1em 0em 1em 1.5em;}  
 
    nav{
        position: fixed;
        display:flex;
        justify-content:space-around;
        border-radius:0.5em;
        margin: 0%;
        padding:0em 1em 1em 3em;}
 
    .modal {
        position: fixed;
        z-index: 6;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);}
              
    .modalInfo {
        padding: 0em 1.5em 0em 1.5em;}
              
    .modalContent {
        font-size: 25px;
        background: #020A11;
        border-radius: 5px;
        width: 340px;
        text-align: unset;
        color: #CEAA5B;
        font-family: 'Vollkorn SC', serif;
        position: absolute;
        top: 2.5em;
        bottom: 4em;
        right: 3em;
        left: 0.5em;
        }
    .close{
        font-size: 30px;
        padding: 0em 0em 0em 10em;
        position: absolute; 
        }  
    .imgSplash{
        width: 165px;
        height: 200px;
        object-fit: cover;
        border: 1px solid #EAB95B;
        margin-left: 22% ;
        }
    .modalName{
        display: flex;
        flex-direction: row;
        font-family: 'Vollkorn SC', serif;
        font-weight: bold;
        font-size: 25px;
        color: #fff;
        margin: 1%;
        padding: 0.5em 0em 0em 0em;
        }
    .modalTitle{
        display: flex;
        flex-direction: column-reverse;
        font-family: 'Vollkorn SC', serif;
        font-size: 20px;
        color: #fff;
        margin: 1%;
        margin-left: 16%;
        }
    .modalTags{
        font-family: 'Vollkorn SC', serif;
        font-size: 20px;
        color: #fff;
        margin: 1%;
        padding: 0em 0em 0em 3.5em;
        }
        
    .info{
        font-size: 15px;
        margin-left: 35%;
    }
    .stats{
        display: flex;
        margin-left: 0%;
        margin-right: 0%;
        
    }    
    
}
 
 
 

